html{
    background-color: rgb(255, 251, 251);
}

.cards div{
    display: flex;
    background-color: bisque;
    flex-direction: column;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    border: 5px solid hsl(241, 72%, 34%);
    justify-content: center;
    padding: 20px;
}

.bonba{
    padding: 20px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 200px;
}




