body {
	background-color: #458588;
	margin: 0;
	padding: 0;

	font-family: 'Courier New', Courier, monospace;
	box-sizing: border-box;
}

.cards div {
	display: flex;
	background-color: #fbf1c7;
	;
	flex-direction: column;
}

.header {
	min-height: 40px;
	background-color: #562B35;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.button-wrapper {
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}


#doofGif {
	position: fixed;
	bottom: 0px;
	right: 20px;
	width: 200px;
	z-index: 9999;
}

.overlay {
	background-color: hsla(0 0% 0% / 0.4);
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 10;
}

button {
	align-items: center;
	background-color: #d79921;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;

	color: #af3a03;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

button:hover,
.button-6:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
	transform: translateY(-1px);
}

button:active {
	background-color: #F0F0F1;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
}


.header div {
	color: #f9f5d7;
	padding: 10px;
	font-size: 30px;
	font-weight: 800;
}

.cards {
	display: grid;
	gap: 20px;
	justify-content: center;
	padding: 20px;
	color: #3c3836;
	height: 100vh;

	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.bonba {
	padding: 20px;
	box-sizing: border-box;
	height: 250px;

}

.bonba>div:last-child {
	background-color: #fb4934;
}

.readStatus {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.readStatus:hover {
	cursor: pointer;
}

#bookDialog {
	padding: 0;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form {
	padding: 15px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
